@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=ZCOOL+KuaiLe&display=swap');

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin';
    background-color: #ffffff;
}

#tentacles {
    width: 80px;
}

/* Nav Container */

.header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    background-color: transparent;
    backdrop-filter: blur(10px);
 
    transition: box-shadow .6s ease;
}

.header.scrolled {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
}


.header-imgTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-left: 25px;
}

.header-text{
    font-family: Inconsolata;
    font-size: 30px;
    font-weight: 600;
}

.header-search-bar{
    margin-right: 1rem;
    padding: 10px; 
}

.header-search-bar input {
    font-family: Inconsolata;
    font-size: 14px;
    letter-spacing: .5px;
    padding: 13px 150px 13px 15px;
    border: none;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.4);
}

.header-search-bar input:focus {
    outline: none;
    border: 3px solid rgba(188, 226, 255, 70%);

}

.nav-container {
    margin-right: 40px;
    padding: 15px 35px;
    border-radius: 30px;
    background-color: rgba(188, 226, 255, 70%);
    transition: background-color .2s ease;
}

.nav-container:hover{
    background-color: white;
    border: 1px solid rgba(188, 226, 255, 100%);
}

.nav-container nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.nav-container nav a{
    text-decoration: none;
    color: black; 
    font-family: Inconsolata;
    font-weight: 400;
    font-size: 17px;
}

.nav-container nav li:hover{
    transform: scale(1.05);
}


/* Welcome Section */

.welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 70px;
}

.welcome-section-imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.welcome-section-imgContainer img {
    width: 75%;
}

.welcome-section-textContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    gap: 60px;
    padding: 150px 30px 0px 35px;
}

.welcome-section-textContainer h2{
    font-family: Inconsolata;
    font-size: 40px;
}

.welcome-section-textContainer div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.welcome-section-textContainer p{
    font-family: Inconsolata;
    font-size: 20px;
    font-weight: bold; 
}

/* Stats Section */

.stats-heading {
    display: flex; 
    justify-content: center;
    padding: 5% 1% 1% 1% ;
}

.stats-heading h1{
    padding: .3% 2%;
    font-family: Inconsolata;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: -1px;
    background-color: rgba(188, 226, 255, 70%);
    border: 3px solid rgba(188, 226, 255, 70%);
    border-radius: 10px;
    animation: borderColor 3s infinite ease-in-out alternate-reverse;
}

@keyframes borderColor {
    0%{
        border-color: rgba(188, 226, 255, 70%);
    }

    100% {
        border-color: white;
    }
}

.stats-container {
    display: flex;
    align-items: center;
    padding-top: 40px;
     cursor: pointer; 
}

.stats-card {
    margin: 1%;
    width: 100%;
    padding:2% 2%;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 5px 8px 10px 5px rgba(0, 0, 0, 0.342);
}

.stats-card h3{
    padding-bottom: 10%;
    font-family: inconsolata;
    font-size: 20px;
    font-weight: 400;
}

.stats-card p p{
    font-size: 37px;
    font-weight:bold; 
}


/* Stats Section - first place */


.stats-main-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2%;
}

.stats-container-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer; 
}

.stats-container-top-img img {
    width: 70%;
    margin-left: -80px;
}

.stats-card-top {
    padding: 2% 2%;
    width: 80%;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 5px 8px 10px 5px rgba(0, 0, 0, 0.342);


}

.stats-card-top h3{
    font-weight: 400;
    font-family:  inconsolata
}

.stats-card-top p{
    font-family:  inconsolata;
    font-weight: bold;
    font-size: 25px;
}



/* Second Place*/

.stats-main-second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0%;
}

.stats-container-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer; 
}

.stats-container-second-img{
    display: flex;
    justify-content: end;
    align-items: center;
}

.stats-container-second-img img {
    width: 70%;
    margin-right: -100px;
}

.stats-card-second {
    padding: 2% 2%;
    width: 80%;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 5px 8px 10px 5px rgba(0, 0, 0, 0.342);
}

.stats-card-second h3{
    font-weight: 400;
    font-family:  inconsolata;

}

.stats-card-second p{
    font-family:  inconsolata;
    font-weight: bold;
    font-size: 25px;
}


/* Game Section */

.gamesHeading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    gap: 15px;
}

.gamesHeading-container h2{
    font-family: inconsolata;
    font-weight: 300;
    font-size: 40px;
}

.gamesHeading-container p{
    font-family: inconsolata;
    font-weight: 300;
    font-size: 25px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    padding: 1% 1% 5% 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px -1px #8888889a;
    transition: box-shadow .2s ease;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 2px #888888;
    transform: scale(1.03);
}

/* Button Section */

#button-container {
    padding-top: 1.5%;
    padding-bottom: 2%;
    text-align: center;
}

button {
    padding: 1%;
    margin: 1%;
    font-family: Inconsolata;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 1px solid black; 
    transition: transform .1s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 10px 5px -3px #BCE2FF;
}